<a href="https://colab.research.google.com/github/imshubhamk23/Python_Assignments/blob/main/Programming_Assignment_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1

Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

    Examples
    is_symmetrical(7227) ➞ True
    
    is_symmetrical(12567) ➞ False
    
    is_symmetrical(44444444) ➞ True
    
    is_symmetrical(9939) ➞ False
    
    is_symmetrical(1112111) ➞ True

In [ ]:
def is_symmetrical(num):
    lst1 = str(num)
    lst1 = list(lst1)
    a = lst1[::-1]
    a = "".join(a)
    a = int(a)
    if num == a:
        return True
    else:
        return False

In [ ]:
is_symmetrical(7227)

True

In [ ]:
is_symmetrical(12567)

False

In [ ]:
is_symmetrical(44444444)

True

In [ ]:
is_symmetrical(9939)

False

In [ ]:
is_symmetrical(1112111)

True

# Question 2

Given a string of numbers separated by a comma and space, return the product of the numbers.

    Examples
    multiply_nums("2, 3") ➞ 6
    
    multiply_nums("1, 2, 3, 4") ➞ 24
    
    multiply_nums("54, 75, 453, 0") ➞ 0
    
    multiply_nums("10, -2") ➞ -20

In [ ]:
def multiply_nums(string):
    lst = string.split(",")
    mult = 1
    for i in lst:
        mult = mult * int(i)
    return mult

In [ ]:
multiply_nums("2, 3")

6

In [ ]:
multiply_nums("1, 2, 3, 4")

24

In [ ]:
multiply_nums("54, 75, 453, 0")

0

In [ ]:
multiply_nums("10, -2")

-20

# Question 3

Create a function that squares every digit of a number.

    Examples
    square_digits(9119) ➞ 811181
    
    square_digits(2483) ➞ 416649
    
    square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [ ]:
def square_digits(num):
    string = str(num)
    lst = []
    for i in string:
        sq = int(i)**2
        lst.append(str(sq))
    res = "".join(lst)
    return int(res)

In [ ]:
square_digits(9119)

811181

In [ ]:
square_digits(2483)

416649

In [ ]:
square_digits(3212)

9414

# Question 4

Create a function that sorts a list and removes all duplicate items from it.

    Examples
    setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

    setify([4, 4, 4, 4]) ➞ [4]

    setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

    setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [ ]:
def setify(lst):
    lst1 = list(lst)
    lst1.sort(reverse = False)
    return list(set(lst1))

In [ ]:

setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [ ]:
setify([4, 4, 4, 4])

[4]

In [ ]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [ ]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

# Question 5

Create a function that returns the mean of all digits.

    Examples
    mean(42) ➞ 3

    mean(12345) ➞ 3

    mean(666) ➞ 6

    Notes

The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

The mean will always be an integer.

In [ ]:
def mean(num):
    string = str(num)
    add = 0
    count = 0
    for i in string:
        add += int(i)
        count += 1
    mean = add/count
    return round(mean)

In [ ]:
mean(42)

3

In [ ]:
mean(12345)

3

In [ ]:
mean(666)

6